{%extends 'AUTOPILOT_APP/base.html'%}

<!-- {% load bootstrap5 %} -->

{% block bootstrap5_content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Filtres</h3>
            {{consultants|crispy}}
        </div>

        <div class="col-lg-8">
            <h1>{% block title %}{{titre}}{% endblock %}</h1>
            <table id="list_missions" class="table table-info table-hover table-striped">
                <thead>
                    <tr>

                        <th scope="col">ID Activite Mission</th>
                        <th scope="col">Activite Type</th>
                        <th scope="col">Mission</th>
                        <th scope="col">Consultant</th>
                        <th scope="col">TJM</th>
                        <th scope="col">Estimation charge</th>

                    </tr>
                </thead>
                <tbody>
                    {%for actMission in activitesMissions %}
                    <tr>
                        <th scope="row">{{actMission.idActivitesMissions}}</th>
                        <td>{{actMission.idActivitesType}}</td>
                        <td>{{actMission.idMission}}</td>
                        <td>{{actMission.idConsultant}}</td>
                        <td>{{actMission.tjm}}</td>
                        <td>{{actMission.estimationCharge}}</td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>





{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}



{% endblock %}