<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index AUTOPILOT</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>


{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bootstrap5_content %}{%endblock%}

<script>

    $('#consultant_timesheets').on('click', 'tbody tr', function(event) {
        window.location.href = $(this).data('url');
        console.log(window.location.href);
    });

    $('#list_timesheets').on('click', 'tbody tr', function(event) {
        window.location.href = $(this).data('url');
        console.log(window.location.href);
    });
    $('#list_missions').on('click', 'tbody tr', function(event) {
        window.location.href = $(this).data('url');
        console.log(window.location.href);
    });
    $('#list_consultants').on('click', 'tbody tr', function(event) {
        window.location.href = $(this).data('url');
        console.log(window.location.href);
    });

</script>

</body>
</html>