{%extends 'AUTOPILOT_APP/base.html'%}

<!-- {% load bootstrap5 %} -->

{% block bootstrap5_content %}
<div class="container">
    <h1>{% block title %}Consultants{% endblock %}</h1>
    <table id="ma_table" class="table table-primary table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID Consultant</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
            </tr>
        </thead>
        <tbody>
            {%for consultant in consultants %}
            <tr class="clickable" data-url="{% url 'autopilot_app:detail' consultant.idConsultant %}"> 
                <th scope="row">{{consultant.idConsultant}}</th>
                <td>{{consultant.nom}}</td>
                <td>{{consultant.prenom}}</td>

            </tr>
            {%endfor%}

        </tbody>
    </table>
</div>




{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}


</div>

{% endblock %}